[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bayesassurance"]
	path = bayesassurance
	url = https://github.com/jpan928/bayesassurance_rpackage
	shallow = true
	registered = true
